* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.root{
    display: grid;
    grid-template-columns: "1fr";
}

.header{
    padding: 10px;
    background-color: #61DAFB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.btn {
    padding: 2px 10px;
    font-size: 1em;
    background-color: black;
    color: white;
    text-align: center;
    border: 2px solid white;
}

.template-archivo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: aquamarine;
    gap: 10px;
    border-radius: 2%;
    margin: 5px;

}

.templates-group {
    display: flex;
    width: 100%;
    background-color: seagreen;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - 70px);
}

#new-template:hover {
    background-color: blueviolet;
    border: 2px solid black;
    cursor: pointer;
}

.templates-group .template-archivo{
    cursor: move;
}

/* drag and drop style*/
.templates-group .template-archivo.seleccionado {
    transform: scale(1.02) rotate(-1deg);
    box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
}



.templates-group .template-archivo.drag {
    opacity: 0;
}
